/*
 * @file:reset.css
 * @overview:通用组件样式
 * @author:Tan-Xuewei
 * @warn:全局样式文件，不能修改
 */

html, body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements */
dl, dt, dd, ul, ol, li, /* list elements */
pre, /* text formatting elements */
form, fieldset, legend, button, input, textarea, /* form elements */
th, td /* table elements */ {
    margin: 0;
    padding: 0;
}

body,
button, input, select, textarea /* for ie */ {
    font: 12px/1.5 arial,\5b8b\4f53;
    color: #333;
}

h1, h2, h3, h4, h5, h6 { 
	font-size: 100%; 
}

caption, th, b { 
	font-style: normal;
}

address, cite, dfn, em, var { 
	font-style: normal;
}

code, kbd, pre, samp { 
	font-family: courier new, courier, monospace; 
}

small { 
	font-size: 12px; 
}

ul, ol { 
	list-style: none; 
}

a {
	text-decoration: none;
}

a:hover { 
	text-decoration: underline; 
}

sup { 
	vertical-align: text-top; 
}	 

sub { 
	vertical-align: text-bottom; 
}

/* for ie6 */
legend { 
	color: #000; 
} 

fieldset { 
	border: 0; 
}
 
button, input, select, textarea { 
	font-size: 100%; 
}

img {
	display:block;
}

html, img { 
	border: 0; 
}

table { 
	border-collapse: collapse; 
	border-spacing: 0; 
}

section, article, aside, header, footer, nav, dialog, figure { 
	display: block; 
}

figure {
	margin: 0; 
}

.clearfix:after { 
	visibility: hidden;
	display: block;
	content: "."; 
	clear: both; 
	height: 0;
}

address, caption, cite, code, dfn, em, i, th, var {
    font-style: normal;
    font-weight: normal;
}
