<!DOCTYPE html>
<html>
<head>
  <title></title>
  <!--[if lte IE 8]><script>
    var ie = 8;
  </script><![endif]-->
  <script type="text/javascript" src="echarts.min.js"></script>
  <!-- <script type="text/javascript" src="echarts.js"></script> -->
  <!-- <script type="text/javascript" src="echarts-all.js"></script> -->
  <style type="text/css">
  body {
    padding: 100px;
  }
  img {
    width: 200px;
    height: 200px;
    transition: transform 1s;
    /* transform: rotate(45deg); */
  }
  img:hover {
    transform: translateY(-10px);
  }
  </style>
</head>
<body>
  <!-- <img src="pic.jpg" /> -->
  <!-- <canvas id="canvas"></canvas> -->
  <script type="text/javascript">
    // function draw() {
    //   var ctx = document.getElementById('canvas').getContext('2d');

    //   // Create gradients
    //   var lingrad = ctx.createLinearGradient(0,0,0,150);
    //   lingrad.addColorStop(0, '#00ABEB');
    //   lingrad.addColorStop(0.5, '#fff');
    //   lingrad.addColorStop(0.5, '#26C000');
    //   lingrad.addColorStop(1, '#fff');

    //   var lingrad2 = ctx.createLinearGradient(0,50,0,95);
    //   lingrad2.addColorStop(0.5, '#000');
    //   lingrad2.addColorStop(1, '#f00');

    //   // assign gradients to fill and stroke styles
    //   ctx.fillStyle = lingrad;
    //   ctx.strokeStyle = lingrad2;
      
    //   // draw shapes
    //   ctx.fillRect(10,10,130,130);
    //   ctx.strokeRect(50,50,50,50);

    // }
    function draw() {
  var ctx = document.getElementById('canvas').getContext('2d');

  // 创建渐变
  var radgrad = ctx.createRadialGradient(45,45,10,52,50,30);
  radgrad.addColorStop(0, '#A7D30C');
  radgrad.addColorStop(0.9, '#019F62');
  radgrad.addColorStop(1, 'rgba(1,159,98,0)');
  
  var radgrad2 = ctx.createRadialGradient(105,105,20,112,120,50);
  radgrad2.addColorStop(0, '#FF5F98');
  radgrad2.addColorStop(0.75, '#FF0188');
  radgrad2.addColorStop(1, 'rgba(255,1,136,0)');

  var radgrad3 = ctx.createRadialGradient(95,15,15,102,20,40);
  radgrad3.addColorStop(0, '#00C9FF');
  radgrad3.addColorStop(0.8, '#00B5E2');
  radgrad3.addColorStop(1, 'rgba(0,201,255,0)');

  var radgrad4 = ctx.createRadialGradient(0,150,50,0,140,90);
  radgrad4.addColorStop(0, '#F4F201');
  radgrad4.addColorStop(0.8, '#E4C700');
  radgrad4.addColorStop(1, 'rgba(228,199,0,0)');
  
  // 画图形
  ctx.fillStyle = radgrad4;
  ctx.fillRect(0,0,150,150);
  ctx.fillStyle = radgrad3;
  ctx.fillRect(0,0,150,150);
  ctx.fillStyle = radgrad2;
  ctx.fillRect(0,0,150,150);
  ctx.fillStyle = radgrad;
  ctx.fillRect(0,0,150,150);
}
    draw()
  </script>
  <div id="main" style="width: 280px;height:350px;margin-left: 100px;">
  <!-- </div> -->
  <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
              show: false,
              text: '自定义雷达图'
            },
            legend: {
              itemWidth: 13,
              itemHeight: 6,
              color: '#999',
              itemGap: 60,
              data: [],
              bottom: '0'
            },
            radar: [
                {
                    indicator: [
                        { text: '安全', max: 150 },
                        { text: '成本', max: 150 },
                        { text: '弹性', max: 150 },
                        { text: '功能', max: 150 },
                        { text: '运维', max: 150 }
                    ],
                    center: ['50%', '50%'],
                    radius: 100,
                    startAngle: 90,
                    splitNumber: 5,
                    shape: 'circle',
                    zlevel: 0,
                    name: {
                        formatter:'{value}',
                        textStyle: {
                            color: '#333',
                            fontSize: 15
                        }
                    },
                    splitArea: {
                        areaStyle: {
                            color: '#fff',
                            shadowColor: 'rgba(0, 0, 0, 0.4)',
                            // shadowBlur: 3,
                            opacity: 1
                        }
                    },
                    axisLine: {
                        lineStyle: {
                          color: '#dbe0e5'
                        }
                    },
                    splitLine: {
                        lineStyle: {
                            color: '#dbe0e5',
                            type: 'dotted'
                        }
                    }
                },
            ],
            series: [
                {
                    name: '雷达图',
                    type: 'radar',
                    silent: true,
                    itemStyle: {
                        normal: {
                            borderWidth: 2,
                        },
                        emphasis: {
                            // color: 各异,
                            lineStyle: {
                                width: 2
                            }
                        }
                    },
                    // symbolSize: 6,
                    animationDelay: function (idx) {
                      // 越往后的数据延迟越大
                      return idx*100;
                    },
                    data: [
                        {
                            value: [150, 150, 120, 150, 150],
                            name: '专属云',
                            silent: true,
                            areaStyle: {
                                normal: {
                                    color: new echarts.graphic.LinearGradient(0, 0, 1, 1, [{
                                      offset: 0,
                                      color: 'rgba(19, 92, 229, 0.8)'
                                    }, {
                                      offset: 1,
                                      color: 'rgba(33, 190, 190, 0.8)'
                                    }]),
                                    opacity: 1
                                },
                            },
                            lineStyle: {
                              normal: {
                                color: new echarts.graphic.LinearGradient(0, 0, 1, 1, [{
                                  offset: 0,
                                  color: 'rgba(19, 92, 229, 0.8)'
                                }, {
                                  offset: 1,
                                  color: 'rgba(33, 190, 190, 0.8)'
                                }]),
                                opacity: 1,
                                shadowColor: 'rgba(51, 141, 197, 0.3)',
                                shadowBlur: '0 1px 5px 0'
                              }
                            },
                            itemStyle: {
                              normal: {
                                color: new echarts.graphic.LinearGradient(0, 0, 1, 1, [{
                                  offset: 0,
                                  color: 'rgba(19, 92, 229, 0.8)'
                                }, {
                                  offset: 1,
                                  color: 'rgba(33, 190, 190, 0.8)'
                                }]),
                                opacity: 1
                              },
                              emphasis: {
                                color: '#000'
                              }
                            },
                        },
                        {
                            // value: [90, 90, 60, 120, 120],
                            value: [120, 120, 150, 90, 150],
                            name: '私有云',
                            ilent: true,
                            symbolSize: 2.5,
                            areaStyle: {
                                normal: {
                                    color: new echarts.graphic.LinearGradient(0, 0, 1, 1, [{
                                      offset: 0,
                                      color: 'rgba(40, 57, 226, 0.5)'
                                    }, {
                                      offset: 1,
                                      color: 'rgba(40, 57, 226, 0)'
                                    }]),
                                    // shadowBlur: 5,
                                    opacity: 1
                                }
                            },
                            lineStyle: {
                              normal: {
                                color: new echarts.graphic.LinearGradient(0, 0, 1, 1, [{
                                  offset: 0,
                                  color: 'rgba(40, 57, 226, 0.5)'
                                }, {
                                  offset: 1,
                                  color: 'rgba(40, 57, 226, 0)'
                                }]),
                                // shadowBlur: 5,
                                opacity: 1
                              }
                            },
                            itemStyle: {
                              normal: {
                                borderWidth: 4,
                                color: new echarts.graphic.LinearGradient(0, 0, 1, 1, [{
                                  offset: 0,
                                  color: 'rgba(40, 57, 226, 0.5)'
                                }, {
                                  offset: 1,
                                  color: 'rgba(40, 57, 226, 0)'
                                }]),
                                // shadowBlur: 5,
                                opacity: 1
                              }
                            }
                        }
                    ]
                }
            ]
        }

        // 使用刚指定的配置项和数据显示图表。
        // setTimeout(function() {
          myChart.setOption(option);
        // }, 3000)
    </script>

  <script type="text/javascript">
    var node = document.getElementById('img')
      var htmlHeight=document.body.scrollHeight||document.documentElement.scrollHeight;
          //clientHeight是网页在浏览器中的可视高度，
      var clientHeight=document.body.clientHeight||document.documentElement.clientHeight;
      //scrollTop是浏览器滚动条的top位置，
      var scrollTop=document.body.scrollTop||document.documentElement.scrollTop;
    function show() {

      //下面这句主要是获取网页的总高度，主要是考虑兼容性所以把Ie支持的documentElement也写了，这个方法至少支持IE8
      //通过判断滚动条的top位置与可视网页之和与整个网页的高度是否相等来决定是否加载内容；
      if(scrollTop + node.offsetTop > htmlHeight){
           
      }

      console.log(htmlHeight)
      console.log(clientHeight)
      console.log(scrollTop)

      console.log(node.offsetTop)
    }

    window.onscroll = show
  </script>
</body>
</html>