/* reset */
body, h1, h2, h3, h4, h5, h6, ul, ol, p, form { 
  margin: 0; 
}

/*html5*/
article, aside, dialog, footer, header, section, footer, nav, figure, menu {
  display: block;
}

ul {
  padding-left: 0; 
  list-style-type: none;
}

body {
  font: 14px/1.14 PingFangSC-Light,PingFang SC,Helvetica,Tahoma,Arial,"Microsoft YaHei","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
}

h4, h5, h6 {
  font-size: 1em;
}

input, textarea, select {
  font-size: 100%;
  font-family: inherit;
}

input, textarea, button {
    outline: none;
}

textarea {
  overflow: auto;
  resize: none;
}

img {
  border: 0;
  max-width: 100%;
}

i { 
  display: inline-block;
}
