/*
 * @file:main.css
 * @overview:主页样式
 * @author:Tan-Xuewei
 */

#my-blog {
	width: 300px;
	margin: 10px auto;
}

.div1, .div2, .div3 {
	background: #ccc;
}
.div1 {
	width: 50px;
	height: 100px;
	float: left;
}

.div3 {
	width: 50px;
	height: 90px;
	position: absolute;
	top: 164px;
}

.div2 {
	width: 140px;
	height: 200px;
	margin-left: 10px;
	float: left;
}